body,ul,li,p{
    margin:0px;
    padding: 0px;
    list-style: none;
    font-size: 1.6rem;
    font-family: arial;
}

a{
    text-decoration: none;
    color: rgb(144, 160, 170);
}

header{
    display: flex;
    background: rgb(18, 70, 105);
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 8px;
    background: rgb(69, 141, 189);
}

h1{
    text-align: center;
    margin-top: 100px;
}

img{
    max-width: 100%;
    display: block;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex > div{
    flex: 200px;
    margin: 10px 10px;
}

.footer {
    display: flex;
    background: rgb(63, 37, 94);
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu1 {
    display: flex;
}

.menu1 li{
    margin-left: 10px;
}

.menu1 li a{
    display: flex;
    padding: 8px;
    background: rgb(115, 69, 189);
}

.footer a{
    text-decoration: none;
    color: rgb(214, 131, 131);
}

.flex1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}