body{
    background-color: rgb(56, 8, 100);
    }
h1{
    color: rgb(255, 0, 255);
    font-size: 22px;
}
h3{
    color:rgb(255, 255, 255);
    font-size: 18px;
}
p{
    color: rgb(255, 255, 255);
    font-size: 16px;
}