.botao {
    border: 1px solid #999;
    height: 26px;
    padding: 5px 15px;
    width: 90px;
}
.botao2 {
    border: 1px solid #999;
    height: 26px;
    padding: px 15px;
    width: 90px;
}
.caixa {
    background-color: tomato;
    width: 250px;
}
.caixa-com-padding {
    background-color: lightblue;
    padding: 0 25px;
    width: 250px;
}
.caixa2 {
    background-color: thistle;
    width: 1000px;
}
.caixa-com-padding2 {
    background-color: olive;
    padding: 0 50px;
    width: 1000px;
}